#concept {
    background: linear-gradient(180deg, #A193861F 50%, #A1938689 50%);
}

.concept-item {
    display: flex;
    justify-content: space-between;

    &_img1 {
        width: 62%;
        height: 420px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &_img2 {
        width: 36%;
        height: 420px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.concept-content {
    display: flex;
    justify-content: center;
    color: #FFFFFF;

    &_title {
        width: 445px;
        height: 45px;
        font-size: 42px;
        white-space: nowrap;
        padding: 90px 0 0 0px;
        text-align: center;
    }

    &_text {
        width: 420px;
        height: 130px;
        font-size: 16px;
        padding: 70px 0;
    }
}