header {
    display: flex;

    nav {
        width: 400px;
        height: 45px;
        padding: 88px 0 0 0;

        ul {
            display: flex;
            list-style: none;
            margin: 0 auto;
            padding: 0;

            li {
                margin-left: 20px;
                font-size: 18px;

                &:nth-child(n+2) {
                    color: #707070;
                }
            }
        }
    }
}

.header-logo {
    width: 300px;
    padding: 70px 0 0 80px;
    font-size: 38px;
    text-align: right;
}