// 共通部分

html {
    font-size: 62.5%; //10px=1rem
}

// 色の変数

$sky: #06BEB6;
$navy: #283C86;

.inner {
    width: 80%;
    margin: 0 auto;
    padding: 90px 0;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-style: italic;
    margin-bottom: 60px;

    &--b {
        font-weight: bold;
    }

    &::before {
        display: inline-block;
        content: "";
        width: 3rem;
        border-top: 1px solid #191919;
        margin-right: 2rem;
    }

    &::after {
        @extend ::before;
        margin-right: 0;
        margin-left: 2rem;
    }
}